<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="tyyli.css"/>
        <link th:href="@{https://fonts.googleapis.com/css?family=Cabin|Kaushan+Script|Lobster|Oswald|Roboto|Lora}" rel='stylesheet' type='text/css' />
        
    </head>

    <body>
        <center>
        
            <div id="wrapper">
            
                <center>
        <h1><a class="h" th:href="@{~/aihealueet}">Sivistynyt keskustelupasta</a></h1>
        
        
        <hr/>
        <h2>Aihealueet</h2>
        
        <a th:href="@{~/viestihaku}"><b>Haku</b></a>
            

        <br/>
        <br/>
        <hr/>
        <br/>

        
        <table width="600px"> 
            <tr>
                <td width="300px"><b>Aihealueet</b></td>
                <td width="300px"><b>Viestiketjujen lukumäärä</b></td>
            </tr>
            <tr th:each="aihealue: ${aihealueet}">
                <td width="300px">
                    <a th:href="@{~/aihealueet/{aid}(aid=${aihealue.id})}" 
                            th:text="${aihealue.aiheenNimi}">Aihealue</a></td>
                <td width="300px" th:text="${viestiketjujenLukumaarat.get(aihealue.id)}">teksti2</td>
            </tr>
        </table>  
        
        <br/>
        <hr/>
        
        <h3>Lisää uusi aihealue</h3>
        
        <form th:action="@{~/aihealueet}" method="POST">
            
            <table width="600px">
                <tr>
                    <td width="250px;">Aiheen nimi:</td>
                    <td width="350px;"><input type="text" name="aiheenNimi" style="width: 350px;"/></td>
                    <td><input type="submit" value="Lähetä"/></td>
                </tr>
            </table>
            
        </form>
                </center>
        
            </div>
        
        </center>
    </body>
</html>